/**
 * @file
 *
 * Site-wide layout styles.
 */

.wrapper {
  @include outer-container;
  max-width: 70em;
  padding: $base-margin 1em;
  vertical-align: baseline;

  @include media($large-screen-up) {
    padding: $base-margin 0;
  }
}

.flex-container {
  @include span-columns(12);
}

header,
.page-description,
.view-all-link {
  text-align: center;
}

.page-description {
  margin-bottom: 2em;
}

.column-8 {
  @include media($large-screen-up) {
    @include span-columns(8);
    @include shift(2);
  }
}
