# Basic Info
title: Savas Labs
email: info@savaslabs.com
description: >
  A full-service web agency leveraging the power of Drupal.
# Base URL is used in the manner that is specified by this guide
# (http://jekyllrb.com/docs/github-pages/) which is to say, it's
# not used at all.
baseurl: ""
url: "http://savaslabs.com"
comment_server_url: http://comments.savasdev.com
comment_server_enabled: 1

# Nav links
navigation:
  - title: Who we are
    url: javascript:void(0)
    sub-menu:
      - title: Team
        url: /team
      - title: Mission & values
        url: /mission-and-values
  - title: Services
    url: /services
  - title: Our work
    url: /work
  - title: Blog
    url: /blog
  - title: Contact
    url: /contact

# Professional and social media links
twitter_username: savas_labs
github_username: savaslabs

# Languages and syntax highlighting
markdown: kramdown
sass:
  sass_dir: assets/styles
kramdown:
  input: GFM
  hard_wrap: false
  syntax-highlighter: rouge

# Include static pages.
include: ["_pages"]

# Blog
paginate: 6
paginate_path: "/blog/:num/"

# For Travis CI
exclude: [vendor]

# Collections
collections:
  team:
    output: true
    permalink: /team/:path/
  work:
    output: true
    permalink: /work/:path/
  case-studies:
    output: true
    permalink: /work/:path/
  services:
    output: false
    permalink: /what-we-do/:path/

# Gems
gems:
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-paginate
