title: Savas
email: info@savaslabs.com
description: > 
  A Drupal-centric web development and design shop anchored in Durham, NC.
baseurl: "" 
url: "http://savaslabs.com"
twitter_username: savas_labs 
github_username: savaslabs
markdown: kramdown
paginate: 6
paginate_path: "/blog/:num/"
exclude: [vendor]
sass:
  sass_dir: assets/styles/_scss
collections:
  team:
    output: true
    permalink: /team/:path/
  work:
    output: true
    permalink: /work/:path/
gems:
  - jekyll-sitemap