---
layout: page
title: Blog
permalink: "/blog/"
excerpt: Blabs by Savas Labs. Blog posts too!
---
<p class="page-description">Check out our latest blog posts and information about upcoming events.</p>
<div class="flex-container">
    <div class="cards blog-cards">
        {% for post in site.posts %}
            <div class="card blog-card">
                <a class="url" href="{{ post.url }}">
                    <div class="card-image">
                    </div>
                    <div class="card-header">
                        {{ post.title }}
                    </div>
                    <div class="card-copy">
                      <p>By {{ post.author }}</p>
                      {% if site.comment_server_enabled == 1 %}
                      <span class="comment-count"></span>
                      {% endif %}
                        <p>{{ post.summary | markdownify }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
