---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}

    <div class="page-content">
        <span class="home-image" role="img" aria-label="Savasians working">
            <section>
                <div class="home-page-copy">
                        <div class="logo">
                            <img alt="Savas owl" src="{{ base.url }}/assets/img/owl.png">
                        </div>
                        <div class="tagline">
                            <h1>Savas Labs</h1>
                            <h4>{{ site.description }} <a href="/contact">Get in touch.</a></h4>
                        </div>
                </div>
            </section>
        </span>
    </div>

    <div class="wrapper">
        <h3>Latest posts</h3>
        <div class="flex-container">
            <div class="cards">
                {% for post in site.posts limit:3 %}
                    <div class="card">
                        <a href="{{ post.url }}">
                            <div class="card-image">
                            </div>
                            <div class="card-header">
                                {{ post.title }}
                            </div>
                            <div class="card-copy">
                                <p>By {{ post.author }}</p>
                                <p>{{ post.summary | markdownify }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>

