---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}

    <div class="page-content">
        <div>
            <section>
                <div class="home-page-copy">
                    <div class="logo">
                        <img alt="Savas owl" src="{{ base.url }}/assets/img/owl.png">
                    </div>
                    <div class="tagline">
                        <h1>Savas Labs</h1>
                        <h4>{{ site.description }} <a href="/contact">Get in touch.</a></h4>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="wrapper">
        <h3><a href="/news">Latest posts</a></h3>
        <div class="flex-container">
            <div class="cards">
                {% for post in site.posts limit:3 %}
                    <div class="card">
                        <a class="url" href="{{ post.url }}">
                            <div class="card-image">
                            </div>
                            <div class="card-header">
                                {{ post.title }}
                            </div>
                            <div class="card-copy">
                              <p>By {{ post.author }}</p>
                              {% if site.comment_server_enabled == 1 %}
                              <span class="comment-count"></span>
                              {% endif %}
                              <p>{{ post.summary | markdownify }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>

