/**
 * @file
 *
 * Card styles, using the Card Refill.
 *
 * See _variables.scss for card refill variables.
 */

// General card styles ---------------------------------------------------------

// The group of cards.
.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
}

// A single card.
.card {
  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all .2s ease-in-out);

  background-color: $card-background;
  border: $card-border;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: auto;
  margin: 0 $card-margin $base-spacing;
  position: relative;

  .card-image {
    max-height: 200px;
    overflow: hidden;

    img {
      @include transition (all .2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }

  .card-header {
    @include transition (all .2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  .fa-comment-o { margin-right: 4px; }

  .card-copy {
    color: $dark-blue;
    font-size: .9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    background-color: $card-hover-background;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

// Team card overrides ---------------------------------------------------------
.team-card {
  @include flex-basis(21em);
  @include flex-grow(0);
  @include transition (all .2s ease-in-out);

  .card-image {
    max-height: 350px;
    overflow: hidden;

    img {
      position: relative;
      top: -50px;
    }
  }

  .card-header {
    display: inline-block;
    font-size: 1.1em;
    padding: ($base-spacing / 3) ($base-spacing / 2) 0;
  }

  .card-copy {
    border-top: 1px solid $gainsboro;
    font-size: 1em;
  }

  .card-title {
    display: inline-block;
    float: right;
    font-size: .8em;
    line-height: 2em;
    padding: ($base-spacing / 2) ($base-spacing / 2) 0;
    text-transform: uppercase;
  }
}

// Work card overrides ---------------------------------------------------------
.work-card {
  @include flex-basis(21em);
  @include flex-grow(0);
  @include flex-shrink(1);
}

// News card overrides ---------------------------------------------------------
.blog-card {
  @include flex-basis(20em);
  @include flex-grow(0);
}
