/**
 * @file
 *
 * Styles for the comments section on blog posts.
 */

// Comment block expander.
.expander {

  .expander-trigger {
    @include user-select(none);
    color: $fuschia;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;
    text-align: center;
    text-decoration: none;

    &::before {
      content: '\25BC';
      font-size: $expander-arrow-width;
      margin-right: .5em;
    }
  }

  .expander-hidden {
    &::before {
      content: '\25BA';
      font-size: $expander-arrow-width;
    }

    + .expander-content {
      display: none;
    }
  }
}

// Comments.
.post-comments {

  // Comment form.
  // Make name and email inline on larger screens.
  @include media($medium-screen-up) {
    .comment-name,
    .comment-email {
      display: inline-block;
      width: 48%;
    }

    .comment-name { float: left; }
    .comment-email { float: right; }
  }

  p {
    margin: 0;
  }

  textarea {
    margin-bottom: 0;
  }

  .email-disclaimer {
    font-size: .8em;
    margin-top: -1em;
  }

  .hint {
    font-size: .8em;
  }

  .below-textarea {
    margin-top: -.5em;
  }

  .nocaptcha {
    margin-bottom: 0;
  }

  .are-you-human {
    @include span-columns(12);
    margin-top: 2em;
  }

  .are-you-human-field {
    @include span-columns(9);
  }

  .are-you-human-owl {
    @include span-columns(3);
    text-align: center;

    img {
      width: 4em;
    }
  }

  // Hide honeypot field.
  // scss-lint:disable IdSelector
  #url {
    display: none;
  }
  // scss-lint:enable IdSelector

  .submit-comment {
    @extend %button;
  }

  // Existing comments.
  .post-comments {
    margin-top: 2.5em;

    .comment {
      h5 {
        margin-bottom: 0;
      }

      .comment-date {
        color: darken($light-gray, 25%);
        font-size: .9em;
        margin: .5em 0 .4em;
      }
    }
  }
}
