.table-minimal {

  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  th {
    text-align: left;
  }

  td {
    line-height: $base-line-height;
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;

      button {
        display: inline-block;
        font-size: .7em;
        line-height: $base-line-height;
        margin-bottom: .3em;
        margin-right: .5em;
        outline: none;
        padding: .3em 1em;
        width: 100%;

        @include media($medium-screen-up) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }

    tr:hover > td,
    tr:hover > th {
      background-color: $table-hover-background;
    }

    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0;
      padding: $table-padding;
    }
  }
}
