/**
 * @file
 *
 * Styles for the home page.
 */

.home {

  .home__cover {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);

    background: url('/assets/img/home-cover-code.png') $dark-blue center no-repeat;
    height: 88vh;
    text-align: center;

    // On medium screens, change height to account for menu height.
    @include media($horizontal-bar-mode) {
      height: 78vh;
    }

    // On large screens, adjust height to account for menu height..
    @include media($large-screen-up) {
      height: 88vh;
    }

    // On very large screens, allow background image to scale up to fill screen.
    @include media(1200px) {
      background-size: 100% auto;
    }

    .home__cover__heading,
    .home__cover__site-description {
      margin: 0;
    }

    .home__cover__heading {
      font-size: 2em;
      margin-top: 30px;
    }

    hr {
      border: solid 2px $teal;
      border-radius: .5px;
      margin: 10px auto 15px;
      width: 170px;
    }

    .home__cover__site-description {
      color: $base-background-color;
      //font-family: $heading-font;
      font-size: 1.5em;
      line-height: 1.3em;
      width: 230px;
    }

    i {
      color: $teal;
      font-size: 2.8em;
      padding-top: 20px;
    }
  }

  .wrapper {
    h3,
    h2 {
      text-align: center;
    }
  }

  .job-posting-block {
    $link-background: lighten($gainsboro, 10%);
    text-align: center;

    @include media($medium-screen-up) {
      @include span-columns(8);
      @include shift(2);

      float: none;
    }

    p {
      font-size: 1.2em;
      text-align: left;
    }
  }

  .home-blog-list {
    clear: both;

    .view-more-posts {
      font-size: 1.2em;
      text-align: center;

      i {
        margin-left: 5px;
      }
    }
  }
}
