.navigation {
  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  a {
    text-decoration: none;
  }

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    padding: 25px 0;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    @include media($horizontal-bar-mode) {
      float: none;
      margin: 0 auto;
    }

    @include media($large-screen-up) {
      float: left;
      margin: 0;
    }

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      clear: left;
      margin: 0 auto;
    }

    @include media ($large-screen-up) {
      clear: none;
      float: right;
    }
  }

  .navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // The nav items

  .nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-size: $base-font-size * 1.1;
      font-weight: 400;
      text-transform: uppercase;

      @include media ($horizontal-bar-mode) {
        padding-right: .5em;
      }

      @include media ($large-screen-up) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item {
    a {
      color: $navigation-active-link-color;
    }
  }

  // Sub menus

  // Menu link with sub-links.
  .more.nav-link {
    overflow: visible;
    padding-right: 0;


    @include media($horizontal-bar-mode) {
      padding-right: .8em;
      position: relative;

      > ul > li:first-child a {
        padding-top: 1em;
      }
    }

    a {
      padding-right: .8em;
    }

    > a {
      padding-right: .6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &::after {
        @include position(absolute, auto -.4em auto auto);
        color: $navigation-color;

        @include media($horizontal-bar-mode) {
          content: '\25BE';
        }
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }
  }

  // The actual sub-menu.
  .submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }
}
