/**
 * @file
 *
 * Styles for the blog posts.
 */

// General styles.
.post {
  @include outer-container;
  @include media($large-screen-up) {
    @include span-columns(8);
    @include shift(2);
  }

  // Header area.
  .post-header {

    // Match margin-bottom of H1.
    margin-bottom: 1.875em;

    p {
      display: inline;
    }

    i {
      color: $dark-blue;
      margin-right: 5px;
    }

    .centerdot {
      font-weight: bold;
    }

    // Featured image.
    .post-featured-image {
      margin: 3em 0;
    }
  }

  // Optional disclaimer section.
  .disclaimer {
    background-color: transparentize($fuschia, .9);
    border: solid 1px transparentize($fuschia, .7);
    border-radius: 5px;
    margin-bottom: 1.875em;
    padding: 1em;

    h5 {
      margin-top: 0;
    }
  }

  // Need to override inline style from Twitter iframe.
  // scss-lint:disable ImportantRule
  .twitter-tweet {
    margin: 3em auto !important;
  }
  // scss-lint:enable ImportantRule

  .table-minimal {
    margin-bottom: 3em;
    margin-top: 3em;
  }

  ul ul {
    margin-bottom: 0;
  }

}

// Images within posts ---------------------------------------------------------
.blog-image {
  background: $gainsboro;
  box-shadow: 0 2px 4px darken($gainsboro, 10%);
  display: block;
  margin: 1em auto;
  max-width: 250px;

  @include media($medium-screen-up) {
    &.wrap-right {
      float: left;
      margin-right: 40px;
    }

    &.wrap-left {
      float: right;
      margin-left: 40px;
    }
  }

  p {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
  }
}

.blog-image-large {
  @extend .blog-image;
  max-width: 500px;
  width: 100%;
}

.blog-image-xl {
  @extend .blog-image;
  height: auto;
  max-width: 737px; // Width of narrow column layout on lg screens
  width: 100%;
}

.caption {
  display: block;
  font-size: .9em;
  margin: 0 auto 2em;
  text-align: center;
}

// Post meta information and other posts ---------------------------------------
.post-bottom {

  h4 {
    margin: 0 0 1em;
  }

  .post-meta {
    margin-bottom: 3em;
    text-align: center;

    @include media($medium-screen-up) {
      @include span-columns(4);
      text-align: left;
    }

    img {
      border-radius: 3px;
      width: 12em;
    }

    p {
      font-size: 1em;
      line-height: 1.2em;
      margin-top: 1em;
    }

    .post-author-desc {
      text-align: left;
    }
  }

  .post-related {
    margin-bottom: 3em;
    text-align: center;

    @include media($medium-screen-up) {
      @include span-columns(8);

      h4 {
        margin-left: .583em;
        text-align: left;
      }
    }

    .cards {
      font-size: .9em;
      text-align: left;
    }
  }
}

// Previous and next links -----------------------------------------------------
.previous-next-links {
  .next {
    @include span-columns(6);
    float: left;
  }

  .previous {
    @include span-columns(6);
    float: right;
    text-align: right;
  }
}
