/**
 * @file
 *
 * Styles for /services.
 */

.services {
  @include display(flex);
  @include flex-wrap(wrap);

  .services__service {
    margin-bottom: $base-margin;

    .services__service__icon {
      float: left;
    }

    // This allows us to append "read more" link to paragraph.
    p {
      display: inline;
      margin: 0;
    }
  }
}

.services--main {

  .services__service {

    @include media($large-screen-up) {
      margin-bottom: 0;
      padding: $base-spacing;
      width: 50%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .services__service__icon {
      margin-right: 1em;
    }
  }
}

.services--sub__wrapper {

  h2 {
    margin-bottom: $base-spacing;
    text-align: center;
  }

  .services--sub {

    .services__service {

      @include media($medium-screen-up) {
        margin-bottom: $base-spacing;
        padding: $base-spacing;
        width: 50%;
      }

      .services__service__icon {
        margin-right: .5em;
      }
    }
  }
}
