/**
 * @file
 *
 * Styles for /team and team member pages.
 */

.team-member {

  // Link icons.
  .fa-file-text {
    font-size: 13px;
  }
}

.name-description {
  padding-bottom: 0;
  text-align: center;
}

.team-recent-blog {
  border-top: solid 1px $gainsboro;
  margin-top: $base-margin;

  h3 {
    text-align: center;
  }

  p {
    font-size: 1em;
  }
}
