/**
 * @file
 *
 * Styles for /team and team member pages.
 */

.team-member {
  @include outer-container;
  @include media($medium-screen-up) {
    @include span-columns(8);
    @include shift(2);
  }

  .team-header img {
    border-radius: $base-border-radius;
    max-height: 500px;
  }

  .team-links {
    margin: 1em auto $base-margin;
    text-align: center;

    @include media($medium-screen-up) {
      width: 60%;
    }

    @include media($large-screen-up) {
      width: 100%;
    }

    li {
      display: inline-block;
      list-style-type: none;
      min-width: 45%;
      padding: 0 .75em;

      @include media($large-screen-up) {
        min-width: 1%;
      }
    }
  }

  .team-badges {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);

    .team-badges__badge img {
      max-width: 200px;
      padding: 1em;
    }
  }

  // Link icons.
  .fa-file-text {
    font-size: 13px;
  }
}

.associations {
  clear: both;
  text-align: center;

  .logos {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    height: 125px;
    width: 100%;

    img {
      margin: 0 1em;
    }
  }
}

.team-recent-blog {
  border-top: solid 1px $gainsboro;
  margin-top: $base-margin;

  h3 {
    text-align: center;
  }

  p {
    font-size: 1em;
  }
}

.name-description {
  padding-bottom: 0;
  text-align: center;
}
