.portfolio-details {
  overflow: hidden;

  table {
    padding-bottom: 2em;
    padding-top: 2em;
  }
}

.client-quote {
  border: 1px solid $gainsboro;

  @include media($medium-screen-up) {
    display: inline-block;
    float: right;
    margin: 1.5em;
    padding: .5em;
    width: 15em;
  }

  .client-name {
    font-style: italic;
  }
}
