<div class="post-comments">
  {% if page.comments_enabled == 1 %}
    <div class="expander">
      <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden">Comments!</a>
      <div id="js-expander-content" class="expander-content">
        <form>
          <div class="comment-name">
            <p>Name</p> <input type='text' name='name' id='name' required /><br>
          </div>

          <div class="comment-email">
            <p>Email</p> <input type='email' name='email' id='email' required />
            <p class="email-disclaimer">Savas will never sell your email address or spam you.</p><br>
          </div>

          <p>Comment</p>
          <textarea name='comment' id='comment' required></textarea>
          <p class="hint below-textarea">Plain text format only please.</p>

          <input type='hidden' name='slug' id='slug' value='{{ page.url }}' />
          <input type='text' name='url' id='url' />

          <div class='are-you-human'>
            <div class='are-you-human-field'>
              <p>What type of animal is the Savas logo?</p>
              <input type='text' name='nocaptcha' id='nocaptcha' class='nocaptcha'>
              <p class="hint">Hint: 3 letters long, starts with an 'o' and ends with an 'l'.</p>
            </div>
            <div class='are-you-human-owl'>
              <img src="/assets/img/owl.png" alt="Savas logo">
            </div>
          </div>

          <input type='submit' value='Submit' id='submit' />
        </form>
        <div id="post-comments" class="post-comments"></div>
      </div>
    </div>
  {% else %}
    <p>Comments are disabled for this post.</p>
  {% endif %}
  <hr>
</div>
