<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Location</h3></li>
      <li>American Underground<br />
          201 W Main St.<br />
          Durham, NC 27701<br /></li>
    </ul>
    <ul>
      <li><h3>Around the Web</h3></li>
      <li><a href="https://github.com/savaslabs"><span class="mega-octicon octicon-mark-github"></span></a></li>
      <li><a href="https://bitbucket.org/savaslabs"><i class="fa fa-bitbucket fa-lg fa-2x"></i></a></li>
    </ul>
    <ul>
      <li><h3>Contact</h3></li>
      <li><a href="mailto:info@savaslabs.com">info@savaslabs.com</a></li>
      <li>(919) 432-4660</li>
    </ul>
  </div>

</footer>

<div class="footer-copyright">
  <p>Copyright © Savas Labs 2015</p>
</div>
