<header class="navigation" role="banner">
  <div class="navigation-wrapper">
      <a href="/" class="logo">
          <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Savas logo">
      </a>
      <a href="/" id="js-mobile-menu" class="navigation-menu-button">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          {% for link in site.navigation %}{% assign active-nav-item = nil %}
            {% if page.url contains link.url %}
              {% assign active-nav-item = 'active-nav-item' %}
            {% endif %}
            <li class="nav-link {{ active-nav-item }}">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
  </div>
</header>
