<header class="navigation" role="banner">
  <div class="navigation-wrapper">
      <a href="/" class="logo">
          <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Savas logo">
      </a>
      <a href="/" id="js-mobile-menu" class="navigation-menu-button">MENU</a>
      <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
              <li class="nav-link"><a href="/team">Who we are</a></li>
              <li class="nav-link"><a href="/what-we-do">What we do</a></li>
              <li class="nav-link"><a href="/work">Our work</a></li>
              <li class="nav-link"><a href="/drupal-training">Training</a></li>
              <li class="nav-link"><a href="/blog">Blog</a></li>
              <li class="nav-link"><a href="/contact">Contact</a></li>
          </ul>
      </nav>
  </div>
</header>
