<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "about": "{{ page.summary }}",
    "articleBody": "{{ content | escape }}",
      "author": {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "{{ page.author }}",
          "affiliation": "Savas",
          "worksFor": "Savas"
      },
    "keywords": "{{ page.tags }}",
    "text": "{{ content | escape | textify }}",
    "sourceOrganization": "Savas",
    "inLanguage": "en-US",
    "dateCreated": "{{ page.date }}",
    "datePublished": "{{ page.date }}",
    "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
  }
</script>
