<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "colleague": [
          {% for person in site.team %}{% if person.name != page.name %}"{{ person.name }}"{% if forloop.rindex > 1 %},{% endif %}{% endif %}{% endfor %}
      ],
      "image": "{{ page.photo | prepend: "/" | prepend: site.baseurl | prepend: site.url }}",
      "jobTitle": "{{ page.job_title }}",
      "name": "{{ page.name }}",
      "affiliation": "Savas",
      "worksFor": "Savas",
      "description": "{{ page.job_description }}",
      "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
    }
</script>
