{% capture start %}{{ page.start-date }} {{ page.start-time }}{% endcapture %}
{% capture end %}{{ page.end-date }} {{ page.end-time }}{% endcapture %}

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "location": {
        "@type": "Place",
        "name": "{{ page.location }}",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{ page.city-state }}",
          "postalCode": "{{ page.postal-code }}",
          "streetAddress": "{{ page.street-address }}"
        }
      },
      "startDate": "{{ start | date_to_xmlschema }}",
      "endDate": "{{ end | date_to_xmlschema }}",
      "duration": "{{ page.duration }}",
      "organizer": "Savas Labs",
      "description": "{{ page.summary }}",
      "name": "{{ page.title }}"
    }
</script>
