.home {
    background: url("/assets/img/home.png");
    .home-page-copy {
        @include outer-container;
        padding: 3% 0;
        .logo { @include shift(2); @include span-columns(3); }
        .tagline { @include span-columns(7); }
        h1 {
            text-align: center;
            padding-top: 10%;
            color: $fuschia;
        }
        h4 {
            color: white;
            text-align: center;
        }
    }
}

.blog-list {
    @include outer-container;
    @include span-columns(12);
    background-color: white;
}
