$medium-screen: em(640) !default;

.home .page-content {
  .home-image {
    background-image: url('/assets/img/Whiteboard_everyone_837.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  .home-page-copy {
    @include outer-container;
    padding: 10% 0;
    text-align: center;

    @include media($medium-screen) {
      .logo {
        @include shift(1);
        @include span-columns(3);
      }

      .tagline { @include span-columns(7); }
      h4 { padding: 0; }
    }

    h1 {
      padding-top: 5%;
    }

    h4 {
      color: $white;
      padding: 0 5%;
    }

    .logo img {
      max-width: 125px;
    }
  }
}

.home .wrapper h3 { text-align: center; }

.blog-list {
  @include outer-container;
  @include span-columns(12);
  background-color: $white;
}
