$medium-screen: em(640) !default;

.home .page-content {
  background: url('/assets/img/home.png');

  .home-page-copy {
    @include outer-container;
    padding: 3% 0;
    text-align: center;

    @include media($medium-screen) {
      .logo {
        @include shift(1);
        @include span-columns(3);
      }

      .tagline { @include span-columns(7); }
      h4 { padding: 0; }
    }

    h1 {
      padding-top: 5%;
    }

    h4 {
      color: $white;
      padding: 0 5%;
    }

    .logo img {
      max-width: 125px;
    }
  }
}

.home .wrapper {
  h3,
  h2 {
    text-align: center;
  }
}

.job-posting-block {
  $link-background: lighten($gainsboro, 10%);
  text-align: center;

  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  p {
    font-size: 1.2em;
    text-align: left;
  }

  a {
    @extend %button;
    display: inline-block;
    font-size: 1.2em;
    margin: 2em auto;
    width: auto;
  }

  hr {
    margin-bottom: 3em;
  }
}


.home-blog-list {
  clear: both;

  .view-more-posts {
    font-size: 1.2em;
    text-align: center;

    i {
      margin-left: 5px;
    }
  }
}

