.wrapper {
    @include outer-container;
    max-width: 70em;
    vertical-align: baseline;
    padding: 3em 1em;
    @include media($medium-screen) {
    	padding: 3em 0;
    }
}

.flex-container {
    @include span-columns(12);
}

header, .page-description, .view-all-link {
	text-align: center;
}

.page-description {
	  margin-bottom: 2em;
}
