.portfolio, .post {
    @include outer-container;
    @include media($large-screen) {
        @include span-columns(8);
        @include shift(2);
    }
    .previous-next-links {
    	margin-top: 2em;
    }
}
