.team-card {
  @include flex-basis(21em);
  @include flex-grow(0);
  @include transition (all .2s ease-in-out);

  .card-image {
    max-height: 150px;
    overflow: hidden;
  }

  .card-header {
    display: inline-block;
    font-size: 1.1em;
    padding: ($base-spacing / 3) ($base-spacing / 2) 0;
  }

  .card-copy {
    border-top: 1px solid $gainsboro;
    font-size: 1em;
  }
       
  .card-title {
    display: inline-block;
    float: right;
    font-size: .8em;
    line-height: 2em;
    padding: ($base-spacing / 2) ($base-spacing / 2) 0;
    text-transform: uppercase;
  }
}

.team-member {
  @include outer-container;
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  img {
    border-radius: 3px;
    max-height: 250px;
  }

  p {
    font-size: $base-font-size * 1.2;
  }

  .team-links {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);

    color: $dark-blue;
    margin-bottom: 3em;
    margin-top: 1em;
    text-align: center;
    width: 100%;

    li {
      list-style-type: none;
      padding: 0 .75em;
    }

    .team-links {


    //     @include span-columns(8);
    //     @include shift(2);
    //     @include media($medium-screen) {
    //         //@include span-columns(12);
    //         @include shift(0);
    //     }
    //     @include display(flex);
    //     @include flex-wrap(wrap);
    //     @include justify-content(center);
    //     @include align-items(center);

    //     color: $dark-blue;
        margin-top: 1em;
        margin-bottom: 3em;
        text-align: center;
    //     // @include media($medium-screen) {
    //     //     text-align: center;
    //     // }
    //     width: 100%;

        li {
            list-style-type: none;
            padding: 0 .75em;
            width: 50%;
            @include media($medium-screen) {
                display: inline;
                min-width: 1%;
            }
        }

        .fa-file-text {
            font-size: 13px;
        }
    }
  }
}

.name-explanation {
  clear: both;
  padding-bottom: 0;
  text-align: center;

  p {
    font-size: 1.3em;
    margin: 0;
  }
}

.associations {
  clear: both;
  text-align: center;

  .logos {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    height: 125px;
    width: 100%;

    img {
      margin: 0 1em;
    }
  }
}

.team-recent-blog {
  border-top: solid 1px $gainsboro;
  margin-top: 3em;
  h3 { text-align: center; }
  p { font-size: 1em; }
}
