.team-card {
  @include flex-basis(21em);
  @include flex-grow(0);
  @include transition (all .2s ease-in-out);

  .card-image {
    max-height: 150px;
    overflow: hidden;
  }

  .card-header {
    display: inline-block;
    font-size: 1.1em;
    padding: ($base-spacing / 3) ($base-spacing / 2) 0;
  }

  .card-copy {
    border-top: 1px solid $gainsboro;
    font-size: 1em;
  }
       
  .card-title {
    display: inline-block;
    float: right;
    font-size: .8em;
    line-height: 2em;
    padding: ($base-spacing / 2) ($base-spacing / 2) 0;
    text-transform: uppercase;
  }
}

.team-member {
  @include outer-container;
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }

  img {
    border-radius: 3px;
    max-height: 250px;
  }

  p {
    font-size: $base-font-size * 1.2;
  }

  .team-links {
    margin: 1em auto 3em;
    text-align: center;

    @include media($medium-screen) {
      width: 60%;
    }

    @include media($large-screen) {
      width: 100%;
    }

    li {
      display: inline-block;
      list-style-type: none;
      min-width: 45%;
      padding: 0 .75em;

      @include media($large-screen) {
        min-width: 1%;
      }
    }

    .fa-file-text {
      font-size: 13px;
    }
  }
}

.name-explanation {
  clear: both;
  padding-bottom: 0;
  text-align: center;

  p {
    font-size: 1.3em;
    margin: 0;
  }
}

.associations {
  clear: both;
  text-align: center;

  .logos {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    height: 125px;
    width: 100%;

    img {
      margin: 0 1em;
    }
  }
}

.team-recent-blog {
  border-top: solid 1px $gainsboro;
  margin-top: 3em;
  h3 { text-align: center; }
  p { font-size: 1em; }
}
