.team-card {

    @include flex-basis(21em);
    @include flex-grow(0);
    @include transition (all 0.2s ease-in-out);

    .card-image {
        overflow: hidden;
        max-height: 150px;
    }

    .card-header {
        display: inline-block;
        font-size: 1.1em;
        padding: ($base-spacing / 3) ($base-spacing / 2) 0 ($base-spacing / 2);
    }

    .card-copy {
        border-top: 1px solid gainsboro;
        font-size: 1em;
    }
       
    .card-title {
        display: inline-block;
        float: right;
        font-size: 0.8em;
        text-transform: uppercase;
        line-height: 2em;
        padding: ($base-spacing / 2) ($base-spacing / 2) 0 ($base-spacing / 2);
    }
}

.team-member {
    @include outer-container;
    @include media($medium-screen) {
        @include span-columns(8);
        @include shift(2);
    }
    img {
        max-height: 250px;
        border-radius: 3px;
    }
    p {
        font-size: $base-font-size * 1.2;
    }

    .view-all-team {
        text-align: center;
    }
}

.associations {
    text-align: center;
    clear: both;
    .logos {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        height: 125px;
        width: 100%;
        img {
            margin: 0 1em;
        }
    }

.team-recent-blog {
    h3 { text-align: center; }
    p { font-size: 1em; }
}
