$roboto: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$martel: 'Martel Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

body {
  font-family: $roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fuschia;
  font-family: $roboto;
  font-weight: 800;
}

h1 { font-size: 400%; }
h2 { font-size: 300%; }
h3 { font-size: 200%; }
h4 { font-size: 150%; }
h5 { font-size: 120%; }

a {
  color: $fuschia;

  &:hover,
  &:focus {
    color: $orange;
  }
}

.card-copy {
  color: $dark-blue;
}

.nav-link a {
  font-size: $base-font-size * 1.1;
  text-transform: uppercase;
}

p,
input,
textarea {
  color: $dark-blue;
}

.page-description {
  font-size: $base-font-size * 1.3;
}

.portfolio,
.post {
  p,
  ul,
  ol {
    color: $dark-blue;
    font-size: $base-font-size * 1.2;
  }

  .portfolio-short-description {
    font-size: $base-font-size * 1.5;
  }

  ul { list-style-type: square; }
  ol { list-style-type: decimal; }

  ul,
  ol {
    margin-bottom: 1em;
    margin-left: 2em;
  }

  h3,
  h4,
  h5 { margin-top: 1.5em; }

  .page-description {
    font-size: $base-font-size * 1.4;
  }
}

.centerdot { font-weight: bold; }

blockquote {
  border-left: 4px solid $gainsboro;
  padding-left: 1em;
}

.fa-comment-o { margin-right: 4px; }
