$roboto: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
$martel: 'Martel Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;

body {
    font-family: $roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $martel;
    font-weight: 800;
}

.nav-link a {
    text-transform: uppercase;
}
