body {
  font-family: $roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fuschia;
  font-family: $heading-font;
  font-weight: 800;
}

h1 { font-size: 300%; }
h2 { font-size: 250%; }
h3 { font-size: 200%; }
h4 { font-size: 150%; }
h5 { font-size: 120%; }

a {
  color: $solar-cyan;

  &:hover,
  &:focus {
    color: lighten($solar-cyan, 10%);
  }
}

// scss-lint:disable ColorVariable
p a {
  border-bottom: .1em solid rgba(10, 83, 101, .1);
}
// scss-lint:enable ColorVariable

.card-copy {
  color: $dark-blue;
}

.nav-link a {
  font-size: $base-font-size * 1.1;
  text-transform: uppercase;
}

p,
input,
textarea {
  color: $dark-blue;
}

.page-description {
  font-size: $base-font-size * 1.3;
}

.portfolio,
.post {
  .portfolio-short-description {
    font-size: $base-font-size * 1.5;
  }

  p,
  ul,
  ol {
    color: $dark-blue;
    font-size: $base-font-size * 1.2;
  }

  // Keep ems from cascading in nested lists.
  ul ul,
  ul ul li,
  ul ol,
  ul ol li,
  ol ul,
  ol ul li,
  ol ol,
  ol ol li {
    font-size: 1em;
  }

  ul { list-style-type: square; }
  ol { list-style-type: decimal; }

  ul,
  ol {
    margin-bottom: 1em;
    margin-left: 2em;
  }

  h3,
  h4,
  h5 { margin-top: 1.5em; }

  .page-description {
    font-size: $base-font-size * 1.4;
  }
}

.centerdot { font-weight: bold; }

// Thanks CSS-Tricks!
// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
  background-color: lighten($gainsboro, 10);
  border-left: 10px solid transparentize($dark-blue, .6);
  border-radius: 0 $base-border-radius * 3 $base-border-radius * 3 0;
  font-style: italic;
  padding: 1em;
  quotes: '\201C' '\201D';

  &::before {
    color: transparentize($dark-blue, .6);
    content: open-quote;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
  }
}

.fa-comment-o { margin-right: 4px; }

.emoji { width: 24px; }
