.work-card {

    //@include span-columns(4);
    @include flex-basis(21em);
    @include flex-grow(0);
    @include flex-shrink(1);

    .card-image {
        overflow: hidden;
        max-height: 200px;

        img {
            @include transition (all 0.2s ease-in-out);
            width: 100%;
            height: 200px;
        }
    }
}

.view-all-portfolio {
    text-align: center;
}
