.work-card {
  @include flex-basis(21em);
  @include flex-grow(0);
  @include flex-shrink(1);

  .card-image {
    max-height: 200px;
    overflow: hidden;

    img {
      @include transition (all .2s ease-in-out);
      width: 100%;
    }
  }
}

.portfolio-details {
  overflow: hidden;

  table {
    padding-bottom: 2em;
    padding-top: 2em;
  }
}

.client-quote {
  border: 1px solid $gainsboro;

  @include media($medium-screen) {
    display: inline-block;
    float: right;
    margin: 1.5em;
    padding: .5em;
    width: 15em;
  }

  .client-name {
    font-style: italic;
  }
}
