.work-card {

    //@include span-columns(4);
    @include flex-basis(21em);
    @include flex-grow(0);
    @include flex-shrink(1);

    .card-image {
        overflow: hidden;
        max-height: 200px;

        img {
            @include transition (all 0.2s ease-in-out);
            width: 100%;
        }
    }
}

.portfolio-details table {
    padding-top: 2em;
    padding-bottom: 2em;
}

.client-quote {
    .client-name {
        font-style: italic;
    }
}

.portfolio-details {
    overflow: hidden;
}

.client-quote {
    border: 1px solid $gainsboro;
    @include media($medium-screen) {
        display: inline-block;
        float: right;
        margin: 1.5em;
        padding: .5em;
        width: 15em;
    }
}
