---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}

    <div class="case-study">

      <!-- Header with client logo and client/project descriptions. -->
      <div class="case-study__header" style="background-image: url({{ page.client_hero_image }});">
        <div class="case-study__header__text">
          <h1>{{ page.project_title }}</h1>
          {{ page.project_description | markdownify }}
          <a class="case-study__header__link" href="{{ page.client_url }}">View site</a>
        </div>
      </div>

      <!--<div class="wrapper">-->

        <!-- Client introduction -->
        <div class="case-study__client">
          <div class="wrapper">
            <img class="case-study__client__logo" src="{{ page.client_logo }}" alt="{{ page.client_name }} logo">
            {{ page.client_description | markdownify }}
          </div>
        </div>

      <div class="wrapper">
      <!-- Objective, Process, and Results sections. -->
        <div class="case-study__content case-study__content--objective">
          <div class="case-study__content__text case-study__content__text--objective">
            <h2>The Objective</h2>
            {{ page.project_objective | markdownify }}
          </div>
          <div class="case-study__square-image case-study__square-image--objective">
            <img src="{{ page.project_objective_image }}" alt="{{ page.project_objective_image_alt }}">
          </div>
        </div>

        <div class="case-study__content case-study__content--process">
          <div class="case-study__content__text case-study__content__text--process">
            <h2>The Process</h2>
            {{ page.project_process | markdownify }}
          </div>
          <div class="case-study__square-image case-study__square-image--process">
            <img src="{{ page.project_process_image }}" alt="{{ page.project_process_image_alt }}">
          </div>
        </div>

        <div class="case-study__content case-study__content--results">
          <div class="case-study__content__text case-study__content__text--results">
            <h2>The Results</h2>
              {{ page.project_objective | markdownify }}
          </div>
          <div class="case-study__square-image case-study__square-image--results">
            <img src="{{ page.project_results_image }}" alt="{{ page.project_results_image_alt }}">
          </div>
        </div>
        </div>

        {% if page.client_quote %}
        <!-- Client Quote. -->
        <div class="case-study__client-quote">
          <div class="wrapper">
          <blockquote>
            <p class="case-study__client-quote__quote">{{ page.client_quote }}</p><br>
            <p class="case-study__client-quote__attribution">&mdash; {{ page.client_quote_author }}</p>
          </blockquote>
            </div>
        </div>
        {% endif %}

        <!-- Technical details. -->
        <div class="case-study__details">
          <div class="wrapper">
            <h2>The Details</h2>
            <table class="table-minimal">
              <tbody>
              <tr>
                <td class="label"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Client since</td>
                <td>{{ page.client_dates }}</td>
              </tr>
              <tr>
                <td class="label"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Services provided</td>
                <td>{{ page.services_provided | markdownify }}</td>
              </tr>
              <tr>
                <td class="label"><i class="fa fa-code"></i>&nbsp;&nbsp;Technologies used</td>
                <td>{{ page.technologies_used | markdownify }}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      <div class="case-study__bottom">
        <div class="case-study__contact">
          <h3>Interested in working with us?</h3>
          <a href="/contact">Get in touch!</a>
        </div>
        <i class="fa fa-arrow-up"></i> <a href="/work"> View all portfolio items</a>
      </div>

    </div><!--case-study-->

    {% include footer.html %}

  </body>

</html>