---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}

    <div class="case-study">

      <!-- Header with client logo and client/project descriptions. -->
      <div class="case-study__header" style="background-image: url({{ page.client_hero_image }});">
        <div class="case-study__header__text">
          <h1>{{ page.project_title }}</h1>
          <p class="case-study__header__project-description">{{ page.project_description }}</p>
          <a class="case-study__header__link" href="{{ page.client_url }}">View site</a>
        </div>
      </div>

      <div class="wrapper">

        <!-- Client introduction -->
        <div class="case-study__client">
          <div class="case-study__client__logo">
            <img src="{{ page.client_logo }}" alt="{{ page.client_name }} logo">
            <p class="case-study__client__client-description">{{ page.client_description }}</p>
          </div>
        </div>

        <!-- Objective, Process, and Results sections. -->
        <div class="case-study__content case-study__content--objective">
          <div class="case-study__content__text case-study__content__text--objective">
            <h2>Objective</h2>
            <p>{{ page.project_objective }}</p>
          </div>
          <div class="case-study__square-image case-study__square-image--objective" style="background-image: url({{ page.project_objective_image }});">
          </div>
        </div>

        <div class="case-study__content case-study__content--process">
          <div class="case-study__content__text case-study__content__text--process">
            <h2>Process</h2>
            <p>{{ page.project_process }}</p>
          </div>
          <div class="case-study__square-image case-study__square-image--process" style="background-image: url({{ page.project_process_image }});">
          </div>
        </div>

        <div class="case-study__content case-study__content--results">
          <div class="case-study__content__text case-study__content__text--results">
            <h2>Results</h2>
            <p>{{ page.project_objective }}</p>
          </div>
          <div class="case-study__square-image case-study__square-image--results" style="background-image: url({{ page.project_results_image }});">
          </div>
        </div>

        {% if page.client_quote %}
        <!-- Client Quote. -->
        <div class="case-study__client-quote">
          <blockquote>
            <p class="case-study__client-quote__quote">{{ page.client_quote }}</p><br>
            <p class="case-study__client-quote__attribution">- {{ page.client_quote_author }}</p>
          </blockquote>
        </div>
        {% endif %}

        <!-- Technical details. -->
        <div class="case-study__details">
          <table class="table-minimal">
            <tbody>
            <tr>
              <td class="label"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Client since</td>
              <td>{{ page.client_dates }}</td>
            </tr>
            <tr>
              <td class="label"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Services provided</td>
              <td>{{ page.services_provided | join: ', ' }}</td>
            </tr>
            <tr>
              <td class="label"><i class="fa fa-code"></i>&nbsp;&nbsp;Technologies used</td>
              <td>{{ page.technologies_used | join: ', ' }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <hr>
        <div class="view-all-link">
          <i class="fa fa-arrow-up"></i> <a href="/work"> View all portfolio items</a>
        </div>

      </div><!--wrapper-->.
    </div><!--case-study-->.

    {% include footer.html %}

  </body>

</html>