---
layout: default
---

{% include schema-event.html %}
{% include tag-logic.html %}

<div class="post event">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p>{{ page.date | date: "%b %-d, %Y" }} </p>
    <p class="centerdot">&centerdot; </p>
    <p>{{ tags_content }}</p>
  </header>

  <article class="post-content">
    {{ content }}
    <table class="table-minimal">
    <tbody>
      <tr>
        <td><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
            </span>&nbsp;&nbsp;Date</td>
            {% if page.start-date == page.end-date or page.end-date == '' %}
              <td>{{ page.start-date }}</td>
            {% else %}
              <td>{{ page.start-date }} - {{ page.end-date }}</td>
            {% endif %}
        </tr>
        <tr>
          <td><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
            </span>&nbsp;&nbsp;Time</td>
            {% if page.end-time == '' %}
              <td>{{ page.start-time }}</td>
            {% else %}
              <td>{{ page.start-time }} - {{ page.end-time }}</td>
            {% endif %}
        </tr>
        <tr>
          <td><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
          </span>&nbsp;&nbsp;Location</td>
          {% if page.location-url %}
            <td><a href="{{ page.location-url }}">{{ page.location }}</a></td>
          {% else %}
            <td>{{ page.location }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <hr />

  {% include comment-form.html %}
  {% include post-meta.html %}
  {% include previous-next-links.html %}

  </article>

</div>