---
layout: default
---
<div class="portfolio">
    <header class="portfolio-header">
        <h1 class="portfolio-item">{{ page.title }}</h1>
    </header>
    <p class="portfolio-short-description">{{ page.short_description }}</p>
    <services class="portfolio-details">
        <table class="table-minimal">
            <tbody>
                <tr>
                    <td class="label"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Client since</td>
                    <td>{{ page.client_since }}</td>
                </tr>
                <tr>
                    <td class="label"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Services provided</td>
                    <td>{{ page.services | join: ', ' }}</td>
                </tr>
                <tr>
                    <td class="label"><i class="fa fa-globe"></i>&nbsp;&nbsp;Website</td>
                    <td><a href={{ page.client_url }}>{{ page.title }}</a></td>
                </tr>
            </tbody>
        </table>
    </services>
    <article class="portfolio-description">
        {% if page.client_quote %}
            <div class="client-quote">
                <p>{{ page.client_quote }}</p>
                <p class="client-name">{{ page.client_name }}</p>
            </div>
        {% endif %}
        <div class="portfolio-content">
            {{ content }}
        </div>
    </article>
    <hr />
    <div class="view-all-link">
        <i class="fa fa-arrow-up"></i> <a href="/work"> View all portfolio items</a>
    </div>
</div>
