---
layout: default
---
<div class="portfolio">
    <header class="portfolio-header">
        <h2 class="portfolio-item">{{ page.title }}</h2>
    </header>
    <article class="portfolio-description">
        {{ content }}
    </article>
    <services class="portfolio-details">
        <table class="table-minimal">
            <tbody>
                <tr>
                    <td class="label"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Client since</td>
                    <td>{{ page.client_since }}</td>
                </tr>
                <tr>
                    <td class="label"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Services provided</td>
                    <td>{{ page.services | join: ', ' }}</td>
                </tr>
                <tr>
                    <td class="label"><i class="fa fa-globe"></i>&nbsp;&nbsp;Website</td>
                    <td><a href={{ page.client_url }}>{{ page.client_url }}</a></td>
                </tr>
            </tbody>
        </table>
    </services>
    <hr />
    <div class="view-all-portfolio">
        <i class="fa fa-arrow-up"></i> <a href="/work"> View all portfolio items</a>
    </div>
</div>
