---
layout: default
---
<div class="portfolio">
    <header class="portfolio-header">
        <h2 class="portfolio-item">{{ page.title }}</h2>
    </header>
    <article class="portfolio-description">
        {{ content }}
    </article>
    <services class="portfolio-details">
        <table class="table-minimal">
            <tbody>
                <tr>
                    <td class="label">Client since</td>
                    <td>{{ page.client_since }}</td>
                </tr>
                <tr>
                    <td class="label">Services provided</td>
                    <td>{{ page.services | join: ', ' }}</td>
                </tr>
                <tr>
                    <td class="label">URL</td>
                    <td><a href={{ page.client_url }}>{{ page.client_url }}</a></td>
                </tr>
            </tbody>
        </table>
    </services>
</div>
