---
layout: default
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.title }}",
    "about": "{{ page.summary }}",
    "articleBody": "{{ content | escape }}",
      "author": {
          "@context": "http://schema.org",
          "@type": "Person",
          "name": "{{ page.author }}",
          "affiliation": "Savas",
          "worksFor": "Savas"
      },
    "keywords": "{{ page.tags }}",
    "text": "{{ content | escape | textify }}",
    "sourceOrganization": "Savas",
    "inLanguage": "en-US",
    "dateCreated": "{{ page.date }}",
    "datePublished": "{{ page.date }}",
    "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
  }
</script>

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Tags: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • <a href="{{ page.author | downcase | replace: ' ', '-'  | prepend: "/team/" | prepend: site.baseurl | prepend: site.url | strip_newlines }}">{{ page.author }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content }}<br>
    <p id="post-tags">{{ tags_content }}</p>
    <hr />
    </article>
    <div class="previous-next-links">
        <div class="next">
      {% if page.next.url %}
        <a href="{{ page.next.url }}"><i class="fa fa-long-arrow-left "></i> {{ page.next.title }}</a>
      {% endif %}
        </div>
        <div class="previous">
      {% if page.previous.url %}
        <a href="{{ page.previous.url }}"> {{ page.previous.title }} <i class="fa fa-long-arrow-right"></i></a>
      {% endif %}
        </div>
    </div>

</div>
