---
layout: default
---

{% include tag-logic.html %}

<div class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <p>By <a href="{{ page.author | downcase | replace: ' ', '-'  | prepend: "/team/" | strip_newlines }}">{{ page.author }}</a></p>
    <p class="centerdot">&centerdot; </p>
    <p>{{ page.date | date: "%b %-d, %Y" }} </p><br>
    <i class="fa fa-tags"></i><p>{{ tags_content }}</p>
    <div id="#comment-counter" class="comment-counter"><p><span id="comment-count"></span></p></div>
  </header>

  <article class="post-content">
    {{ content }}
    <hr>

  {% include comment-form.html %}
  {% include post-meta.html %}
  {% include previous-next-links.html %}

  </article>

</div>
