---
layout: page
---

{% for tag in site.data.tags %}
    {% if tag.slug == page.tag %}
        {% assign tag = tag.name %}
    {% endif %}
{% endfor %}

<header>
    {% if tag == "Event" %}
        <h2>Upcoming Events</h2>
    {% else %}
        <h2>Posts tagged: {{ tag }}</h2>
    {% endif %}
</header>

<div class="flex-container">
    <div class="cards">
        {% if site.tags[page.tag] %}
        	{% for post in site.tags[page.tag] %}
                <div class="card">
                    <a class="url" href="{{ post.url }}">
                        <div class="card-image">
                        </div>
                        <div class="card-header">
                            {{ post.title }}
                        </div>
                        <div class="card-copy">
                          <p>By {{ post.author }}</p>
                          {% if site.comment_server_enabled == 1 %}
                          <span class="comment-count"></span>
                          {% endif %}
                            <p>{{ post.summary | markdownify }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="view-all-link">
    <i class="fa fa-arrow-up"></i> <a href="/news"> View all blog posts and events</a>
</div>
