---
layout: default
---
<div class="team-member">
    <header class="team-header">
        <h2 class="team-member-name">{{ page.name }}</h2>
        <img src="{{ base.url }}/{{ page.photo }}">
        <h4 class="team-member-job-title">{{ page.job_title }}</h4>
    </header>
    <article class="team-member-bio">
        {{ content }}
    </article>
    <table class="table-minimal">
        <tr>
            <td class="label">Drupal.org</td>
            <td><a href="https://drupal.org/u/{{ page.drupal }}">{{ page.drupal }}</a></td>
        </tr>
        <tr>
            <td class="label">GitHub</td>
            <td><a href="https://github.com/{{ page.github }}">{{ page.github }}</a></td>
        </tr>
        {% if page.twitter %}
        <tr>
            <td class="label">Twitter</td>
            <td><a href="https://twitter.com/{{ page.twitter }}">@{{ page.twitter}}</a></td>
        </tr>
        {% endif %}
    </table>
</div>
