---
layout: default
---
<div class="team-member">
    <header class="team-header">
        <h1 class="team-member-name">{{ page.name }}</h1>
        <img alt="{{ page.name }}" src="{{ base.url }}/{{ page.photo }}">
        <h4 class="team-member-job-title">{{ page.job_title }}</h4>
    </header>
    <div class="team-links">
      {% if page.drupal %}
        <li><i class="fa fa-drupal"></i><a href="https://www.drupal.org/u/{{ page.drupal }}">&nbsp;&nbsp;Drupal</a></li>
      {% endif %}
      {% if page.github %}
        <li><span class="octicon octicon-mark-github"></span><a href="https://github.com/{{ page.github }}">&nbsp;&nbsp;Github</a></li>
      {% endif %}
      {% if page.twitter %}
        <li><i class="fa fa-twitter"></i><a href="https://twitter.com/{{ page.twitter }}">&nbsp;&nbsp;Twitter</a></li>
      {% endif %}
      {% if page.linkedin %}
        <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/{{ page.linkedin }}">&nbsp;&nbsp;LinkedIn</a></li>
      {% endif %}
      {% if page.website %}
        <li><i class="fa fa-globe"></i><a href="{{ page.website }}">&nbsp;&nbsp;Website</a></li>
      {% endif %}
      {% if page.resume %}
        <li><i class="fa fa-file-text"></i><a href="{{ page.resume }}">&nbsp;&nbsp;Resume</a></li>
      {% endif %}
    </div>

    <article class="team-member-bio">
        {{ content }}
    </article>

    {% assign counter = 0 %}
    {% for post in site.posts %}{% if page.name == post.author %}{% assign counter = counter |plus: 1 %}
    {% endif %}{% endfor %}
    {% if counter > 0 %}
    <div class="team-recent-blog flex-container wrapper">
      <h3>Latest posts</h3>
      <div class="cards">
      {% assign blog-counter = 0 %}
      {% for post in site.posts %}{% if blog-counter < 7 %}{% if page.name == post.author %}{% assign blog-counter = blog-counter |plus: 1 %}
        <div class="card">
          <a class="url" href="{{ post.url }}">
            <div class="card-image">
            </div>
            <div class="card-header">
              {{ post.title }}
            </div>
            <div class="card-copy">
              <p>By {{ post.author }}</p>
              {% if site.comment_server_enabled == 1 %}
              <span class="comment-count"></span>
              {% endif %}
              <p>{{ post.summary | markdownify }}</p>
            </div>
          </a>
        </div>
      {% endif %}{% endif %}{% endfor %}
      </div>
    </div>
    {% endif %}
    <hr />
    <div class="view-all-link">
        <i class="fa fa-arrow-up"></i> <a href="/team"> View all team members</a>
    </div>
</div>
