/**
 * @file
 *
 * Typography styles.
 */

body {
  color: $dark-blue;
  font-family: $copytext-font;
}

// Headings --------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $fuschia;
  font-family: $heading-font;
  font-weight: 800;
}

// Add margin top for posts.
.portfolio,
.post {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
  }
}

h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

// Links -----------------------------------------------------------------------

a {
  color: $action-color;
  transition: all 0.1s linear;

  &:hover,
  &:focus {
    color: $action-color-hover;
  }
}

// Give inline links an underlined look.
// scss-lint:disable ColorVariable
p a,
.post li a {
  border-bottom: .1em solid rgba(10, 83, 101, .1);

  &:hover,
  &:focus {
    border-bottom: .1em solid $action-color-hover;
  }
}
// scss-lint:enable ColorVariable

// Paragraphs and lists --------------------------------------------------------

.post,
.portfolio,
.page-description {
  color: $dark-blue;
  font-size: $base-font-size * 1.2;
}

ul { list-style-type: square; }
ol { list-style-type: decimal; }

ul,
ol {
  margin-bottom: 1em;
  margin-left: 2em;
}

// Keep ems from cascading in nested lists.
ul ul,
ul ul li,
ul ol,
ul ol li,
ol ul,
ol ul li,
ol ol,
ol ol li {
  font-size: 1em;
}

// Misc ------------------------------------------------------------------------

.emoji { width: 24px; }

// Thanks CSS-Tricks!
// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
blockquote {
  background-color: lighten($light-gray, 10);
  border-left: 10px solid transparentize($dark-blue, .6);
  border-radius: 0 $base-border-radius * 3 $base-border-radius * 3 0;
  font-style: italic;
  margin: 2em 0;
  padding: 1em;
  quotes: '\201C' '\201D';

  &::before {
    color: transparentize($dark-blue, .6);
    content: open-quote;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
  }
}

.callout {
  background-color: $dark-blue;
  border-left: solid 1em $fuschia;
  border-radius: $base-border-radius * 2;
  margin: 1.5em auto;
  padding: 1em;
  width: 100%;

  p {
    color: $base-background-color;
    font-size: 1.5em;
    margin-bottom: 0;
  }
}
